@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

.main {
    gap: 20px;
    display: grid;
}

.aside {

}

.content {

}

.menu {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.menu li {
    margin: 0;
    padding: 0;

    list-style: none;
}

@media screen and (min-width: 768px) {
    .main {
        gap: 40px;
        grid-template-columns: 250px 1fr;
    }
}